In [0]:
%sql
CREATE TABLE employees (
    emp_id INT PRIMARY KEY,
    emp_name VARCHAR(50),
    department VARCHAR(50),
    salary INT
);

-- Insert Data
INSERT INTO employees (emp_id, emp_name, department, salary) VALUES
(101, 'Amit', 'IT', 75000),
(102, 'Neha', 'HR', 62000),
(103, 'Rahul', 'IT', 88000),
(104, 'Priya', 'Finance', 92000),
(105, 'Vikram', 'IT', 88000),
(106, 'Anjali', 'HR', 54000),
(107, 'Suresh', 'Finance', 99000),
(108, 'Kavita', 'IT', 72000),
(109, 'Rohan', 'Marketing', 66000),
(110, 'Meera', 'Marketing', 99000);
update employees set salary=92000 where emp_id=105;
select * from employees;
select  max(salary) as sec from employees where salary<(select  max(salary) from employees);
select * from (select *, dense_rank() over(order by salary desc) as rnk from employees) a where a.rnk=2;